In [1]:
import pandas as pd

In [3]:
filepath = "../data/dec19pub.csv"
data = pd.read_csv(filepath)

In [4]:
data.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HULANGCODE,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
1,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
2,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
3,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
4,809001585510960,12,2019,1,201,0,2,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138964 entries, 0 to 138963
Columns: 510 entries, HRHHID to HRFS30DE
dtypes: float64(1), int64(509)
memory usage: 540.7 MB